<div class="container">
  <div class="card p-4 col-md-12">
      <h2 class="mb-4">{{detail?.clientName}}
          <button pButton type="button" icon="pi pi-chevron-left" class="ui-button-primary pull-right" label="Back" routerLink="/projects"></button>
      </h2>
    <div class="card-body">
      <h5>{{detail?.oppName}}</h5>
      <div class="row mt-3">
        <div class="col">
          <span class="card-link">Deal Value</span> : {{detail?.dealValue}}
        </div>
        <div class="col">
          <span class="card-link">DX Value</span> : {{detail?.dxValue}}
        </div>
        <div class="col">
          <span class="card-link">Opportunity Status</span> : {{detail?.oppStatus}}
        </div>
        <div class="col">
          <span class="card-link">Vertical/Domain</span> : {{detail?.domain}}
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <span class="card-link">Probility</span> : {{detail?.probility}}
        </div>
        <div class="col">
          <span class="card-link">DX Pursuit Lead</span> : {{detail?.dxPursuitLead[0].name}}
        </div>
        <div class="col">
          <span class="card-link">Sales Representative</span> : {{detail?.salesRepresentative}}
        </div>
      </div>



      <div class="timeline">
        <div class="item" *ngFor="let hist of detail?.history">
          <div class="date">
            {{ hist.updateDate | date:'MMM d, y' }}
            <small class="text-muted btn-block">{{ hist.updateDate | date:'h:mm a' }}</small>
          </div>
          <div class="circle">
            <i class="fa fa-genderless"></i>
          </div>
          <div class="content">

            <div class="row">
              <div class="col">
                <dt>Deal Value</dt>
                <dl>{{hist.dealValue}}</dl>
              </div>
              <div class="col">
                <dt>DX Pursuit Lead</dt>
                <dl>{{hist.dxPursuitLead[0].name}}</dl>
              </div>
              <div class="col">
                <dt>Probility</dt>
                <dl>{{hist.probility}}</dl>
              </div>
              <div class="col">
                <dt>Est. Start Date</dt>
                <dl>{{hist.estStartDate.year}}/{{hist.estStartDate.month}}/{{hist.estStartDate.day}}</dl>
              </div>
            </div>
            <blockquote class="blockquote">
              <p><b>Status Update:</b> {{hist.statusUpdate}}</p>
            </blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
