<!-- <aside class="sidebar col-md-2 px-0">
  <h3>SideBar</h3>
  <ul>
    <li *ngFor="let menu of menus; let i = index" [class]="menu.active">
      <a href="#" (click)="toggle(i)">
        <fa-icon [icon]="menu.iconName" class="mr-2"></fa-icon> {{menu.name}} <fa-icon [icon]="menu.iconLeft"
          class="subIcon">
        </fa-icon>
      </a>
      <ul *ngIf="menu.submenu">
        <li *ngFor="let submenu of menu.submenu; let j = index"><a href="#">{{submenu.name}}</a></li>
      </ul>
    </li>
  </ul>
</aside> -->
