<div class="container">
    <div class="row">
        <div class="col-md-9">
            <p-tabView>
                <!-- /////////////////
                      Tab 1 - Manage Users
                     ///////////////// -->
                <p-tabPanel header="Manage Users">
                    <div class="grid-block">
                        <h2 class="mb-4">Manage Users</h2>
                        <!-- ////////////
                            Table 
                        ////////////// -->
                        <p-table #dt [value]="userList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','email','type']" dataKey="_id"
                            editMode="row" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button pButton type="button" icon="pi pi-plus" class="ui-button-success" label="Add User" (click)="addNewUser()"></button>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="ui-inputgroup pull-right">
                                            <span class="ui-inputgroup-addon">
                                                <i class="pi pi-search" style="line-height: 1.25;"></i>
                                            </span>
                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Name
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="email">Email
                                        <p-sortIcon field="email"></p-sortIcon>
                                    </th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="user">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="userRoles" [(ngModel)]="user.type" [style]="{'width':'100%'}"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{user.type}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <!-- Edit Button -->
                                        <button *ngIf="!editing" pButton pRipple pInitEditableRow icon="pi pi-pencil" class="ui-button-warning  mr-2" (click)="onRowEdit(user)"
                                            title="Edit"></button>
                                        <button *ngIf="editing" pButton pRipple pSaveEditableRow icon="pi pi-check" class="ui-button-success  mr-2" (click)="updateUser(user)"
                                            title="Save"></button>
                                        <button *ngIf="editing" pButton pRipple pCancelEditableRow icon="pi pi-times" class="ui-button-info mr-2" (click)="onRowEditCancel(user,ri)"
                                            title="Cancel"></button>
                                        <!-- Delete Button -->
                                        <button pButton pRipple icon="pi pi-trash" class="ui-button-danger" (click)="deleteUser(user)" title="Delete"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <!-- ////////////
                            Modal 
                        ////////////// -->
                        <p-dialog header="Add User Details" [(visible)]="userDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
                            [modal]="true" [style]="{width: '450px'}">
                            <div class="p-grid ui-fluid row" *ngIf="user">
                                <div class=" col-12 alert alert-danger mb-3" role="alert" *ngIf="errorMsg">
                                    {{errorMsg}}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userName">Name*</label>
                                    <input pInputText type="text" name="userName" [(ngModel)]="user.name" autofocus/>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.name">Name is required</small>
                                        <small class="p-invalid" *ngIf="user.name && user.name?.length < 5">Name should have atleast 5 characters.</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userEmail">Email*</label>
                                    <input pInputText type="userEmail" name="userEmail" [(ngModel)]="user.email"  email #prmEmail="ngModel" />
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.email">Email is required</small>
                                        <small class="p-invalid" *ngIf="prmEmail.errors?.email">Please provide a valid email address</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userPassword">Password*</label>
                                    <input pPassword type="password" name="userPassword" [(ngModel)]="user.password"/>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.password">Password is required</small>
                                        <small class="p-invalid" *ngIf="user.password && user.password?.length < 6">Name should have atleast 6 characters.</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userConfirmPassword">Confirm Password*</label>
                                    <input pPassword type="password" name="userConfirmPassword" [(ngModel)]="confirmPassword" />
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!confirmPassword">Retype password.</small>
                                        <small class="p-invalid" *ngIf="confirmPassword && confirmPassword !== user.password">Password does not match.</small>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="mb-1">Role</label>
                                    <div class="p-grid row">
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="admin" label="Admin" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="author" label="Author" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="user" label="User" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.type">Role is required</small>
                                    </div>
                                </div>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" class="ui-button-warning  mr-2" label="Cancel"></button>
                                    <button type="button" pButton icon="pi pi-check" (click)="addUser()" class="ui-button-success" label="Save"></button>
                                </div>
                            </p-footer>
                        </p-dialog>

                        <!-- ////////////
                            Confirmation 
                        ////////////// -->
                        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

                        <!-- ////////////
                            Alerts 
                        ////////////// -->
                        <p-toast position="bottom-right"></p-toast>
                    </div>
                </p-tabPanel>
                <!-- /////////////////
                      Tab 2 - Send Email Remainder
                     ///////////////// -->
                <!-- <p-tabPanel header="Send Email Remainder">
                    Content 2
                </p-tabPanel> -->
                <!-- /////////////////
                      Tab 2 - Generate Newsletter
                     ///////////////// -->
                <!-- <p-tabPanel header="Generate Newsletter">
                    Content 3
                </p-tabPanel> -->
            </p-tabView>
        </div>
        <div class="col-md-3">
            <div class="pdf-sidebar generate-pdf">
                <p>Last email is sent on some date.</p>
                <div style="display: none" id="pdf-container"></div>
                <button (click)="generateDPF()" class="btn btn-success">Generate Newsletter</button>
            </div>
            <div id="pdfData" #pdfData>
                <div class="metaData">Metadata will come here</div>
                <div class="pdf-body">
                    <table style=" width: 548px;">
                        <tr>
                            <th>Upcoming Events</th>
                        </tr>
                        <tr *ngFor="let project of projectsList">
                            <td>
                                ;dslkjfalkfjadslifj;slidafjsdali;fj
                                <h5>Experience Marketing Insider Summit – Feb 24-26</h5>
                                <p>Adobe and Epsilon are teaming up to put on a special event to focus on AEP.  This event will be held February 24-26.  It is being hosted at The Breakers Resort, In Palm Beach, FL.  The event is designed to bring senior marketing leaders together with Epsilon/Publicis and Adobe as a non-conference; a leadership marketing summit aimed at discussing AEP (Adobe Experience Platform). Targeting an intimate group of 15-25 execs (including internals). We are a key partner of Adobe’s to enable AEP with the highest return and impact because of our data and identity services. Without solid data and identity (hygiene & cleansing) there is no AEP. Adobe does not have the data and identity and is looking to partners like us to help them bring AEP to the market.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
