$font-family: "Poppins",
sans-serif;
$font-size: 1rem;
$default-color: #74788d;
$hoverColor: #5d78ff;
$heading-color: #67666e;
$btn-primary-color: #5867dd;
$btn-primary-color-hover: #384ad7;
$error-red: #fd397a;
$sidebar-color: #1e1e2d;
$sidebar-menu-color: #a2a3b7;
$white: #fff;
$sidebar-menu-color-hover: #1b1b28;
$body-color: #f2f3f8;
$header-profile: #f9fafe;
