<div class="container">
    <!-- **************************
        DASHBOARD EVENTS
    ************************** -->
    <div class="mt-5 mb-5" *ngIf="eventSlide1?.length == 0">
        <h4 class="text-center">Please check back, more events coming soon.</h4>
    </div>
    <ngb-carousel class="mb-5" *ngIf="eventSlide1?.length > 0">
        <ng-template ngbSlide>
            <div class="row">
                <div class="col" *ngFor="let event of eventSlide1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                            <a
                                *ngIf="event.link"
                                href="{{ event.link }}"
                                target="_blank"
                                class="btn btn-primary"
                                >Link</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="eventSlide2?.length > 0">
            <div class="row">
                <div class="col-md-4" *ngFor="let event of eventSlide2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                            <a
                                *ngIf="event.link"
                                href="{{ event.link }}"
                                target="_blank"
                                class="btn btn-primary"
                                >Link</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- **************************
        EOF DASHBOARD EVENTS
    ************************** -->

    <!-- <div class="row">
        <div class="col-6">
            <ngx-charts-area-chart-stacked [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                [results]="multi" (select)="onSelect($event)">
            </ngx-charts-area-chart-stacked>
        </div>
        <div class="col-6">
            <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend" (select)="onSelect($event)">
            </ngx-charts-gauge>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-3">
            <div class="row align-items-center">
                <div class="col">
                    <b>Sort By:</b>
                </div>
                <div class="col-8 p-0">
                    <select
                        class="form-control"
                        (change)="change($event.target.value)"
                    >
                        <option>Opportunity Status</option>
                        <option>Vertical Domain</option>
                        <option>By Client</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let val of single">
                    <div class="card-counter primary {{ val.id }}">
                        <i class="login"></i>
                        <span class="count-numbers">{{ val.value }}</span>
                        <span class="count-name">{{ val.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ngx-charts-number-card
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [cardColor]="cardColor"
            (select)="onSelect($event)"
            [innerPadding]="10"
        >
        </ngx-charts-number-card> -->
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>
