<div class="container">
    <ngb-carousel class="mb-5">
        <ng-template ngbSlide>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 1</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 4</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 5</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 6</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 2</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 2</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 1</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 2</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">News title 2</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>

    <!-- <div class="row">
        <div class="col-6">
            <ngx-charts-area-chart-stacked [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                [results]="multi" (select)="onSelect($event)">
            </ngx-charts-area-chart-stacked>
        </div>
        <div class="col-6">
            <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend" (select)="onSelect($event)">
            </ngx-charts-gauge>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-3">
            <div class="row align-items-center">
                <div class="col">
                    <b>Sort By:</b>
                </div>
                <div class="col-8 p-0">
                    <select
                        class="form-control"
                        (change)="change($event.target.value)"
                    >
                        <option>Opportunity Status</option>
                        <option>Vertical Domain</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <ngx-charts-number-card
            [scheme]="colorScheme"
            [results]="single"
            [cardColor]="cardColor"
            (select)="onSelect($event)"
            [innerPadding]="10"
        >
        </ngx-charts-number-card>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>
